In [ ]:
import requests
from bs4 import BeautifulSoup as BS
from IPython.core.display import HTML
import pandas as pd
pd.set_option('display.max_rows', None)
import re
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#items.find(class_= 'tr_highlighted')
table_16=pd.read_html("https://web.archive.org/web/20160524083404/https://www.numbeo.com/cost-of-living/country_result.jsp?country=United+States")
table_16= table_16[3]
table_16.head()

### We got the first of the cost of living datasets from read_html, let's make it a dataframe

In [ ]:
cost16=pd.DataFrame(table_16)
cost16

## Set up Cost of Living datasets

###### We have the 2016 dataframe, set up the rest.

##### The wayback machine is not consistent on WHEN it captures, but at least once a month. 
##### could not make a loop because of inconsistent days recorded for scraping

In [ ]:
#the 3rd table is general trends in averages across the US
table_17=pd.read_html("https://web.archive.org/web/201704083404/https://www.numbeo.com/cost-of-living/country_result.jsp?country=United+States")
table_17= table_17[3]
table_18=pd.read_html("https://web.archive.org/web/20180429062837/https://www.numbeo.com/cost-of-living/country_result.jsp?country=United+States")
table_18= table_18[3]
table_19=pd.read_html("https://web.archive.org/web/20190403235143/https://www.numbeo.com/cost-of-living/country_result.jsp?country=United+States")
table_19= table_19[3]
# I changed 2020 to reflect data from 2015 so that it matches with the crime data. I will leave the name as 20 for simplicity
table_20=pd.read_html("https://web.archive.org/web/20150527153415/http://www.numbeo.com:80/cost-of-living/country_result.jsp?country=United+States")
table_20= table_20[3]

##### Let's check to make sure all of that went through correctly and there are no problems.

In [ ]:
table_17.head()
#looks good

In [ ]:
table_17.tail()

In [ ]:
table_18.head()

In [ ]:
table_19.head()
# It WORKS! Finally starting to see some difference in prices too.

In [ ]:
table_20.head()

#### 2021 was not pulling correctly, so I singled that one out from the above column

In [ ]:
table_21=pd.read_html("https://web.archive.org/web/20210605054203/https://www.numbeo.com/cost-of-living/country_result.jsp?country=United+States")
table_21= table_21[2]
table_21.head()
#There was a slightly different index. Once located it produced the same table

In [ ]:
cost17=pd.DataFrame(table_17)
cost18=pd.DataFrame(table_18)
cost19=pd.DataFrame(table_19)
cost20=pd.DataFrame(table_20)
cost21=pd.DataFrame(table_21)

In [ ]:
# Let's likewise use tabel to read in specifics for dense cities and use those as a representative of each state. 
tabel15=pd.read_html("https://web.archive.org/web/20150527153415/http://www.numbeo.com:80/cost-of-living/country_result.jsp?country=United+States")
tabel15= tabel15[7]
tabel15['Year']='2015'
tabel15

#### Best indexes to use seem to be: 
NY-0,
HI-1,
AK-4,
CA-5,
WA-6,
CT-7,
ID-68,
UT-67,
GA-50,
TX-38,
NC-36,
WI-33,
CO-32,

In [ ]:
tabel16=pd.read_html("https://web.archive.org/web/20160524083404/https://www.numbeo.com/cost-of-living/country_result.jsp?country=United+States")
tabel16= tabel16[6]
tabel16['Year']='2016'
tabel16.head()

In [ ]:
tabel17=pd.read_html("https://web.archive.org/web/201704083404/https://www.numbeo.com/cost-of-living/country_result.jsp?country=United+States")
tabel17= tabel17[6]
tabel17['Year']='2017'
#tabel17 works

In [ ]:
tabel18=pd.read_html("https://web.archive.org/web/20180429062837/https://www.numbeo.com/cost-of-living/country_result.jsp?country=United+States")
tabel18= tabel18[6]
tabel18['Year']='2018'
#tabel18 functioning like a dream

In [ ]:
tabel19=pd.read_html("https://web.archive.org/web/20190403235143/https://www.numbeo.com/cost-of-living/country_result.jsp?country=United+States")
tabel19= tabel19[6]
tabel19['Year']='2019'
#good. All have been checked by the function below slightly modified for each year.

In [ ]:
tabel19.head()

### That pulls in our Cost of living data.
###### The crime data was pulled in as CSV format from https://ucr.fbi.gov/crime-in-the-u.s/{year}

In [ ]:
cr16=pd.read_csv("../data/crime2016.csv", nrows=202)
header_row = cr16.iloc[2]
cr16 = pd.DataFrame(cr16.values[3:], columns=header_row)
cr16

### Check the tail to make sure that we have exactly what we want.

#### If we pulled in 2016 then we can pull in the others in the same way.

In [ ]:
cr16.tail()

In [ ]:
cr17=pd.read_excel("../data/crime2017.xlsx", nrows=202)
header_row = cr17.iloc[2]
cr17 = pd.DataFrame(cr17.values[3:], columns=header_row)
cr17.head()

In [ ]:
cr18=pd.read_csv("../data/crime2018.csv", nrows=202)
header_row = cr18.iloc[2]
cr18 = pd.DataFrame(cr18.values[3:], columns=header_row)
cr18.info()

In [ ]:
cr19=pd.read_csv("../data/crime2019.csv", nrows=202, encoding = "ISO-8859-1")
header_row = cr19.iloc[2]
cr19 = pd.DataFrame(cr19.values[3:], columns=header_row)
cr19.info()

In [ ]:
cr15=pd.read_csv("../data/crime2015.csv", nrows=202)
header_row = cr15.iloc[2]
cr15 = pd.DataFrame(cr15.values[3:], columns=header_row)
cr15.head()

#### Now all of the data is in place. Let's look at how they compare.

In [ ]:
cost16.head(2)

In [ ]:
cost=cost16.merge(cost17, how='inner', on='Restaurants')
cost=cost.rename(columns= {'[ Edit ] Avg._x':'2016_cost', '[ Edit ] Avg._y': '2017_cost', 'Range_x':'Range_2016', 'Range_y':'Range_2017'})
cost
# This looks pretty good. Let's put the rest together

In [ ]:
cost=cost.merge(cost18, how='inner')
cost=cost.rename(columns= {'[ Edit ]':'2018_cost', 'Range': 'Range_2018'})
cost.head(1)

In [ ]:
cost=cost.merge(cost19, how='inner')
cost=cost.rename(columns= {'[ Edit ]':'2019_cost', 'Range': 'Range_2019'})
cost.head(1)

#### The cost table looks great and is complete. Let's do the same with the crime

In [ ]:
avg_costs=cost.drop(columns={'Range_2016','Range_2017','Range_2018','Range_2019'})
# I feel the most important rows for identifiers would be Meal, water, beer, and 1 bedroom apartment (both in and out of city)

In [ ]:
#narrow it down to tjust the columns we want
limited_cost=avg_costs[avg_costs['Restaurants'].isin(['Meal, Inexpensive Restaurant', 'Meal for 2 People, Mid-range Restaurant, Three...', 'Water (1.5 liter bottle)', 'Domestic Beer (0.5 liter bottle)', 'Apartment (1 bedroom) in City Centre', 'Apartment (1 bedroom) Outside of Centre'])]
limited_cost

In [ ]:
#find out what we are working with here
limited_cost.info()

In [ ]:
#first we have to drop the pesky symbols which will not convert
limited_cost=limited_cost.replace({'\s\$':''}, regex=True)
#the code also told me to remove commas, so let's do that while we're here.
limited_cost=limited_cost.replace({',':''}, regex=True)

In [ ]:
limited_cost

In [ ]:
# That's no good. We want floats or intergers, not objects. Let's convert them
convert = {'2016_cost': float,
           '2017_cost': float,
           '2018_cost': float,
           '2019_cost': float}

In [ ]:
limited_cost= limited_cost.astype(convert)
limited_cost.info()

In [ ]:
cost1=limited_cost

### Let's graph that to see how each price visually changed over time

In [ ]:
# Calculating Percentage
limited_cost['16-17'] = ((limited_cost['2017_cost']-limited_cost['2016_cost']) / limited_cost['2016_cost'])*100
limited_cost.head()

In [ ]:
limited_cost.info()

In [ ]:
limited_cost['17-18'] = ((limited_cost['2018_cost']-limited_cost['2017_cost']) / limited_cost['2017_cost'])*100
limited_cost['18-19'] = ((limited_cost['2019_cost']-limited_cost['2018_cost']) / limited_cost['2018_cost'])*100
#limited_cost['19-20'] = ((limited_cost['2020_cost']-limited_cost['2019_cost']) / limited_cost['2019_cost'])*100
# took out those years
#limited_cost['20-21'] = ((limited_cost['2021_cost']-limited_cost['2020_cost']) / limited_cost['2020_cost'])*100
limited_cost

#### I feel good about that table with percent changes between each year.

In [ ]:
#Swap them around and drop the percentages
cost1=cost1[['Restaurants','2016_cost','2017_cost','2018_cost','2019_cost']]
cost1.set_index('Restaurants', inplace=True)
cost1=cost1.transpose()

In [ ]:
cost1.head()

In [ ]:
#Trying to normalize the data since apartment is throwing every other cost off
cheap=cost1[['Meal Inexpensive Restaurant','Water (1.5 liter bottle)','Domestic Beer (0.5 liter bottle)']]
apart=cost1[['Apartment (1 bedroom) in City Centre','Apartment (1 bedroom) Outside of Centre']]

In [ ]:
#I don't like this graph
cheap.plot.line(title="Cost of Goods");

plt.show;

In [ ]:
apart.plot.line(title="Cost of One Bedroom Housing");

plt.show;

## I have completed basic breakdown of goods over time. Let's look at the crime statistics.

In [ ]:
violent6=cr16[['Area','Year','Population2','Violent crime3']]
violent7=cr17[['Area','Year','Population2','Violent crime3']]
violent8=cr18[['Area','Year','Population2','Violent crime3']]
violent9=cr19[['Area','Year','Population2','Violent crime3']]
violent5=cr15[['Area','Year','Population2','Violent crime3']]

In [ ]:
# looking for where a 0 was added in 2015
#violent5
#it seems to sync with previous data from csv correctly

In [ ]:
violent=pd.concat([violent5,violent6,violent7,violent8,violent9])

In [ ]:
violent

In [ ]:
violent['Area']=violent['Area'].fillna(method='ffill')
violent

In [ ]:
#Drop the percent change rows because they seem to be creating pivot problems
violent = violent.drop(violent[violent['Year'] == 'Percent change'].index, inplace=False)
violent

In [ ]:
violent=violent.drop_duplicates(subset=['Area', 'Year'],keep='last',ignore_index=False)
v_table=violent.groupby(['Area','Year'],as_index=True).first()
v_table.reset_index(inplace=True)
v_table

In [ ]:
violent.Year.value_counts()

In [ ]:
#lets see what we are working with
violent.info()

In [ ]:
violent.Year.value_counts()

In [ ]:
#I was having trouble with the NaN values in Population, so I decided to convert it into a string first to isolate the letters.
violent['Population2']=violent['Population2'].astype('str')
violent.info()

In [ ]:
#I think I need to change the types of population and crime to int or floats to show up in the pivot table. 
violent['Population2'] = violent['Population2'].str.replace('nan',"0")
violent['Population2'] = violent['Population2'].str.replace(',',"")
#eventually came up with this regex to help if =! \d then make it a \d

#violent['Population2'] = violent['Population2'].str.replace('',"")
#Removing the commas to make it a float was easy. Removing the NaN was éš¾
violent['Violent crime3'] = violent['Violent crime3'].str.replace('NaN',"0")
violent['Violent crime3'] = violent['Violent crime3'].str.replace(',',"")
#This was the culprit of adding extra numbers
#violent['Violent crime3'] = violent['Violent crime3'].str.replace(r'\s',"0")
violent['Year'] = violent['Year'].str.replace('Percent\nchange',"")
violent

In [ ]:
#violent['Violent crime3'].astype('float')
#I got the Populations to work, but now this one has a * somewhere. Let's see where that is and what it represents
violent['Violent crime3'].str.find(r'*')

In [ ]:
table = pd.pivot_table(violent, index=['Year'])
table

In [ ]:
table.info()

In [ ]:
#Alaska and Hawaii are outliers because they import so much and that would throw off costs. 

# I just realized some of the names were off for states. Let's fix that

In [ ]:
violent['Area'].value_counts()

#### States with multiple identifiers
    Maine                       
    Utah                    
    South Dakota  
    Oklahoma  
    New York             
    Oregon 
    Washington             
    Indiana                  
    Rhode Island 
    Puerto Rico   
    Iowa                        
    Georgia                     
    Mississippi               
    Nebraska 
    New England 
    Wisconsin    
    New Mexico

### Let's try and fix them with regexes

In [ ]:
violent['Area'] = violent['Area'].str.replace(r'\d+',"")
violent['Area'] = violent['Area'].str.replace(r',+',"")
# violent['Area'] = violent['Area'].str.replace(r'Maine\b',"Maine")
# violent['Area'] = violent['Area'].str.replace(r'Utah\b',"Utah")
# violent['Area'] = violent['Area'].str.replace(r'South\w*D\b',"South Dakota")
# violent['Area'] = violent['Area'].str.replace(r'New\w*Y\b',"New York")
# violent['Area'] = violent['Area'].str.replace(r'Ore\b',"Oregon")
# violent['Area'] = violent['Area'].str.replace(r'Wash\b',"Washington")
# violent['Area'] = violent['Area'].str.replace(r'Indi\b',"Indiana")
# violent['Area'] = violent['Area'].str.replace(r'Rhode\w*\b',"Rhode Island")
# violent['Area'] = violent['Area'].str.replace(r'Puer\w',"Puerto Rico")
# violent['Area'] = violent['Area'].str.replace(r'Iowa\b',"Iowa")
# violent['Area'] = violent['Area'].str.replace(r'Geor\w',"Georgia")
# violent['Area'] = violent['Area'].str.replace(r'Mississ\b',"Mississippi")
# violent['Area'] = violent['Area'].str.replace(r'Neb\w',"Nebraska")
# violent['Area'] = violent['Area'].str.replace(r'New\s*En\b',"New England")
# violent['Area'] = violent['Area'].str.replace(r'Wis\b',"Wisconsin")
# violent['Area'] = violent['Area'].str.replace(r'New\s*Me\b',"New Mexico")

In [ ]:
#did it work?
violent.Area.value_counts()

In [ ]:
violent['Area'] = violent['Area'].str.replace(r'\wGeorgia\w*',"Georgia")
violent.Area.value_counts().tail()

In [ ]:
#troubleshooting. my pivot table is dropping 2016. is there a 2016 record for Alabama in original frame?
violent

In [ ]:
v_table['Year'].value_counts()

In [ ]:
# Remake this table again
table =violent.groupby(['Area', 'Year']).first()
table.head(30)

In [ ]:
#found a better way to do it than having a pivot table.
table.reset_index(inplace=True)
table.head(8)

In [ ]:
# Do the same with Murder and burglary.

In [ ]:
g = sns.FacetGrid(table.head(10), col='Area')
g.map_dataframe(sns.lineplot, x='Year', y='Violent crime3')
g.set_axis_labels('Year', 'violence')
g.set_titles(col_template='{col_name}')

#### Having trouble getting it mapped out past .head(50). I need to come back to this, but have to chart the economic data by city to overlay

In [ ]:
tabel15=tabel15.drop(columns={'Consumer Price Index','Consumer Price Plus Rent Index','Local Purchasing Power Index'})
tabel16=tabel16.drop(columns={'Cost of Living Index','Cost of Living Plus Rent Index','Local Purchasing Power Index','Rank'})
tabel17=tabel17.drop(columns={'Cost of Living Index','Cost of Living Plus Rent Index','Local Purchasing Power Index','Rank'})
tabel18=tabel18.drop(columns={'Cost of Living Index','Cost of Living Plus Rent Index','Local Purchasing Power Index','Rank'})
tabel19=tabel19.drop(columns={'Cost of Living Index','Cost of Living Plus Rent Index','Local Purchasing Power Index','Rank'})

In [ ]:
#I started with a left join to tabel 17 because it has the most city data. I know this from running all tabels through a .info()
# city_living=tabel17.merge(tabel16, how='left', on='City')
# city_living=city_living.rename(columns= {'Rent Index_x':'Rent', 'Groceries Index_x': 'Groceries_17','Restaurant Price Index_x':'Eat-out_17'})
# city_living=city_living.rename(columns= {'Rent Index_y':'Rent', 'Groceries Index_y': 'Groceries_16','Restaurant Price Index_y':'Eat-out_16'})

In [ ]:
city_living=pd.concat([tabel15,tabel16,tabel17, tabel18, tabel19])
city_living.info()

In [ ]:
# city_living.head()

In [ ]:
# city_living=city_living.merge(tabel15, how="left", on='City')
# city_living=city_living.rename(columns={'Rent Index':'Rent', 'Groceries Index':'Groceries_15', 'Restaurant Price Index':'Eat-out_15'})

In [ ]:
# city_living=city_living.merge(tabel18, how="left", on='City')
# city_living.head()
# city_living=city_living.rename(columns={'Rent Index':'Rent_18', 'Groceries Index':'Groceries_18', 'Restaurant Price Index':'Eat-out_18'})

In [ ]:
# city_living=city_living.merge(tabel19, how="left", on='City')
# city_living=city_living.rename(columns={'Rent Index':'Rent_19', 'Groceries Index':'Groceries_19', 'Restaurant Price Index':'Eat-out_19'})

In [ ]:
#Get rid of rows that have more than one missing value in the 5 year span or repeat states
city_redux=city_living.drop([3,5,6,7,9,12,13,15,16,17,18,22,25,26,28,29,34,35,39,42,43,44,45,47,48,52,55,56,59,62,63,66])
city_redux=city_living.drop([71,72,74,75,76,79,80,81,86,88,90,92,93,96,98,100,102,108,116,118,119])
#city_redux

In [ ]:
#Specify the state by separating it and renaming them
city_redux[['City','Area']]=city_redux.City.str.split(',',expand=True)

In [ ]:
city_redux.Area.value_counts()

In [ ]:
#city_redux.loc[city_redux['State'].str.contains('CA')]
#Drop all but one as representative. Oakland closeset to the avg.
#city_redux.loc[city_redux['State'].str.contains('FL')]
#drop all but Tampa, the closest rent avg. 
#city_redux.loc[city_redux['State'].str.contains('WA')]
# Everett closest to avg
#city_redux.loc[city_redux['State'].str.contains('NC')]
#Raleigh best for NC
#city_redux.loc[city_redux['State'].str.contains('NY')]
#NY city has the most data
#city_redux.loc[city_redux['State'].str.contains('TX')]
#Houston best avg.
#city_redux.loc[city_redux['State'].str.contains('PA')]
#Pittsburgh best avg, philadelphia much higher than others.
#city_redux.loc[city_redux['State'].str.contains('OH')]
#Cincinnati best with consistent data
#city_redux.loc[city_redux['State'].str.contains('MO')]
#Kansas City is too close to the border and affected by other state trade. Let's use St. Louis
#city_redux.loc[city_redux['State'].str.contains('CO')]
#Denver has the most data
#city_redux.loc[city_redux['State'].str.contains('MI')]
# Ann Arbor has the most data recorded

In [ ]:
city_redux=city_redux.drop([2,9,15,25,35,37,39,44,50,66,14,17,29,42,
                            48,52,55,104,8,13,43,62,85,30,34,67,68,7,18,33,63,65,113,19,31,58,
                            41,89,95,103,117,26,28,49,59,10,94,115,87,3,112,105,53,78,110,6,16,45])

In [ ]:
#One of the last things I need to do for Tableau is to work later on is rename the states. 
city_redux['Area']=city_redux['Area'].str.replace("CA", "California")
city_redux['Area']=city_redux['Area'].str.replace("FL", "Florida")
city_redux['Area']=city_redux['Area'].str.replace("WA", "Washington")
city_redux['Area']=city_redux['Area'].str.replace("NC", "North Carolina")
city_redux['Area']=city_redux['Area'].str.replace("NY", "New York")
city_redux['Area']=city_redux['Area'].str.replace("TX", "Texas")
city_redux['Area']=city_redux['Area'].str.replace("PA", "Pennsylvania")
city_redux['Area']=city_redux['Area'].str.replace("OH", "Ohio")
city_redux['Area']=city_redux['Area'].str.replace("MO", "Missouri")
city_redux['Area']=city_redux['Area'].str.replace("CO", "Colorado")
city_redux['Area']=city_redux['Area'].str.replace("MI", "Michigan")
city_redux['Area']=city_redux['Area'].str.replace("VA", "Virgina")
city_redux['Area']=city_redux['Area'].str.replace("NJ", "New Jersey")
city_redux['Area']=city_redux['Area'].str.replace("AZ", "Arizona")
city_redux['Area']=city_redux['Area'].str.replace("OK", "Oklahoma")
city_redux['Area']=city_redux['Area'].str.replace("MD", "Maryland")
city_redux['Area']=city_redux['Area'].str.replace("TN", "Tennessee")
city_redux['Area']=city_redux['Area'].str.replace("WI", "Wisconsin")
city_redux['Area']=city_redux['Area'].str.replace("AR", "Arkansas")
city_redux['Area']=city_redux['Area'].str.replace("GA", "Georgia")
city_redux['Area']=city_redux['Area'].str.replace("LA", "Louisiana")
city_redux['Area']=city_redux['Area'].str.replace("CT", "Connecticut")
city_redux['Area']=city_redux['Area'].str.replace("SC", "South Carolina")
city_redux['Area']=city_redux['Area'].str.replace("MN", "Minnesota")
city_redux['Area']=city_redux['Area'].str.replace("HI", "Hawaii")
city_redux['Area']=city_redux['Area'].str.replace("KY", "Kentucky")
city_redux['Area']=city_redux['Area'].str.replace("NM", "New Mexico")
city_redux['Area']=city_redux['Area'].str.replace("UT", "Utah")
city_redux['Area']=city_redux['Area'].str.replace("KS", "Kansas")
city_redux['Area']=city_redux['Area'].str.replace("NV", "Nevada")
city_redux['Area']=city_redux['Area'].str.replace("NH", "New Hampshire")
city_redux['Area']=city_redux['Area'].str.replace("IL", "Illinois")
city_redux['Area']=city_redux['Area'].str.replace("DC", "Washington DC")
city_redux['Area']=city_redux['Area'].str.replace("OR", "Oregon")
city_redux['Area']=city_redux['Area'].str.replace("IN", "Indiana")
city_redux['Area']=city_redux['Area'].str.replace("IA", "Iowa")
city_redux['Area']=city_redux['Area'].str.replace("VT", "Vermont")
city_redux['Area']=city_redux['Area'].str.replace("ME", "Maine")
city_redux['Area']=city_redux['Area'].str.replace("MA", "Massachusetts")
city_redux['Area']=city_redux['Area'].str.replace("AK", "Alaska")
city_redux['Area']=city_redux['Area'].str.replace("ID", "Idaho")
city_redux['Area']=city_redux['Area'].str.replace("AL", "Alabama")

#### The rest were chosen by those that presented the most complete set of data

In [ ]:
city_redux.head()

In [ ]:
# I want to order the columns by year
city_rent=city_redux[['Area','Year','Rent Index']]
city_goods=city_redux[['Area','Year','Groceries Index']]
city_meals=city_redux[['Area','Year','Restaurant Price Index']]

In [ ]:
city_rent.info()

In [ ]:
city_meals.info()

In [ ]:
city_goods.info()

In [ ]:
# city_rent["Year"]=city_rent["Year"].str.replace("Rent_15", "2015")
# city_rent["Year"]=city_rent["Year"].str.replace("Rent_16", "2016")
# city_rent["Year"]=city_rent["Year"].str.replace("Rent_17", "2017")
# city_rent["Year"]=city_rent["Year"].str.replace("Rent_18", "2018")
# city_rent["Year"]=city_rent["Year"].str.replace("Rent_19", "2019")

In [ ]:
city_rent.head()

In [ ]:
#relabel goods
city_goods["Year"]=city_goods["Year"].str.replace("Groceries_15", "2015")
city_goods["Year"]=city_goods["Year"].str.replace("Groceries_16", "2016")
city_goods["Year"]=city_goods["Year"].str.replace("Groceries_17", "2017")
city_goods["Year"]=city_goods["Year"].str.replace("Groceries_18", "2018")
city_goods["Year"]=city_goods["Year"].str.replace("Groceries_19", "2019")

In [ ]:
city_meals["Year"]=city_meals["Year"].str.replace("Eat-out_15", "2015")
city_meals["Year"]=city_meals["Year"].str.replace("Eat-out_16", "2016")
city_meals["Year"]=city_meals["Year"].str.replace("Eat-out_17", "2017")
city_meals["Year"]=city_meals["Year"].str.replace("Eat-out_18", "2018")
city_meals["Year"]=city_meals["Year"].str.replace("Eat-out_19", "2019")

In [ ]:
city_goods['Area'].value_counts()

## Let's sort the rest of the crime data, export it to Tableau and close this baby.

In [ ]:
cr16.head(1)

In [ ]:
l6=cr16[['Area','Year','Population2','Murder and \nnonnegligent \nmanslaughter','Burglary', 'Larceny-theft']]
l7=cr17[['Area','Year','Population2','Murder and \nnonnegligent \nmanslaughter','Burglary', 'Larceny-theft']]
l8=cr18[['Area','Year','Population2','Murder and \nnonnegligent \nmanslaughter','Burglary', 'Larceny-theft']]
l9=cr19[['Area','Year','Population2','Murder and \nnonnegligent \nmanslaughter','Burglary', 'Larceny-theft']]
l5=cr15[['Area','Year','Population2','Murder and \nnonnegligent \nmanslaughter','Burglary', 'Larceny-theft']]

In [ ]:
df=pd.concat([l5, l6, l7, l8, l9])

In [ ]:
df['Area']=df['Area'].fillna(method='ffill')
df

In [ ]:
df = df.drop(violent[violent['Year'] == 'Percent change'].index, inplace=False)
df['Year'] =df['Year'].str.replace('Percent\nchange','bugger')
df = df.rename(columns = {'Murder and \nnonnegligent \nmanslaughter': "Murder"})
df

In [ ]:
df.drop(df[df['Year'] == 'bugger'].index, inplace=True)
df.drop(df[df['Year'] == 'Percent change'].index, inplace=True)

In [ ]:
df=df.drop_duplicates(subset=['Area', 'Year'],keep='last',ignore_index=False)
df=df.groupby(['Area','Year'],as_index=True).first()
df.reset_index(inplace=True)

In [ ]:
table1 =df.drop_duplicates(subset=['Area', 'Year'],keep='last')
table1.head(10)

In [ ]:
murder=table1.drop(columns={"Burglary", "Larceny-theft"})

In [ ]:
thief=table1.drop(columns={"Murder"})
thief.head()

In [ ]:
table.head()

In [ ]:
crime=pd.merge(table1,table, how='left', on=['Area', 'Year'])
crime.head()

In [ ]:
crime.info()

In [ ]:
city_goods.info()

In [ ]:
#I saw to fix merge problems switch year to an int type, so we will do that before we merge
city_goods.Year=city_goods.Year.astype('int')
city_meals.Year=city_meals.Year.astype('int')
city_rent.Year=city_rent.Year.astype('int')

In [ ]:
city_goods.info()
city_meals.info()
city_rent.info()

In [ ]:
costs=pd.merge(city_goods,city_rent, how='left', on=['Area', 'Year'])
costs.head()

In [ ]:
costs=pd.merge(costs,city_meals, how='left', on=['Area', 'Year'])
costs.head()

In [ ]:
costs=costs.drop_duplicates(subset=["Area",'Year'], keep='last')
costs.head()

In [ ]:
cdf=costs.groupby(['Area', 'Year']).first()
cdf.head(30)

In [ ]:
cdf=pd.DataFrame(cdf)
cdf.reset_index(inplace=True)

In [ ]:
crime.Year=crime.Year.astype('int')

In [ ]:
crime.info()

In [ ]:
costs.info()

In [ ]:
cdf.info()

In [ ]:
cost_and_crime=pd.concat([costs,crime])
#try cdf

In [ ]:
cost_and_crime.drop(cost_and_crime.index[313:408],inplace=True)

In [ ]:
cost_and_crime

In [ ]:
#export for final workable tableau tables.
costs.to_excel(r'..\data\murder.xlsx',sheet_name='costs',index=False)
crime.to_excel(r'..\data\violent_data.xlsx',sheet_name='crime',index=False)

In [ ]:
#joined it the in excel

In [ ]:
cost.info()

In [ ]:
US_avg=crime.loc[crime['Area']=='United States Total5, 6, 7']
us_avg=crime.loc[crime['Area']=='United States Total6, 7, 8, 9']
US_avg

In [ ]:
US_avg=pd.concat([US_avg, us_avg])
US_avg=US_avg.drop(columns={'Population2_x','Population2_y','Violent crime3'})

In [ ]:
US_avg.drop_duplicates()

In [ ]:
US_avg=US_avg.sort_values(by='Year')
US_avg=US_avg.drop_duplicates()
US_avg

In [ ]:
US_avg.set_index('Year', inplace=True)
US_avg

In [ ]:
plt.plot(US_avg['Murder'])
plt.plot(US_avg['Burglary'])
plt.plot(US_avg['Larceny-theft'])

plt.show()